.about-first {
  background-image: url(../img/about/about_bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  z-index: 0;

  &__box {
    z-index: 10;
  }

  &__image {
    width: Min(58.75vw, 705px);
    height: Min(50.417vw, 605px);
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
  }

  &:before {
    width: 100%;
    height: clamp(200px, 37.5vw ,450px);
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(4, 13, 33, 0) 0%, #040D21 100%);
    z-index: -1;
  }

  @media screen and (max-width: 767px) {
    &__article {
      max-width: 60%;
    }

    &__image {
      transform: translate(15%,-40%);
    }
  }

  @media screen and (max-width: 500px) {
    padding-bottom: 35px;

    &__article {
      max-width: 100%;
    }

    &__box {
      display: flex;
      flex-direction: column;
      grid-gap: 20px;
    }

    &__image {
      transform: none;
      position: initial;
      width: 80%;
      margin: 0 auto;
      height: auto;
      object-fit: contain;
    }

  }
}
