@keyframes services-hero {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes fire-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.35) translate(-10%, 15%);
  }

  100% {
    transform: scale(1);
  }

}
