.art3D-works {
  padding-top: clamp(30px, 5.833vw, 70px);
  padding-bottom: clamp(100px, 29.167vw,350px);
  background-color: $bg--d;

  &__top {
    margin-bottom: clamp(35px,5.833vw,70px);
  }

  .grid-layout {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(5px, 2.5vw, 30px);
  }

  .first-row {
    position: relative;
    z-index: 1;

    img {
      height: initial;
      width: 100%;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: clamp(5px, 2.5vw, 30px);
      grid-template-areas:
      "a b c d"
      "a e e f";
    }

    .grid-layout__row-coll {
      display: flex;
      position: relative;

      .grid-layout__bg {
        display: flex;
        width: 100%;
        img, picture {
          width: 100%;
          height: 100%;
        }
      }

      &:nth-child(1) {
        grid-area: a;
        position: relative;

        .grid-layout__hero {
          position: absolute;
          display: flex;
          width: Min(29.417vw, 353px);
          height: Min(47.417vw, 569px);
          left: -18%;
          top: -11%;
        }
      }

      &:nth-child(2) {
        grid-area: b;
      }

      &:nth-child(3) {
        grid-area: c;
      }

      &:nth-child(4) {
        grid-area: e;
      }

      &:nth-child(5) {
        grid-area: f;
        position: relative;
        z-index: 1;

        .grid-layout__hero {
          position: absolute;
          display: flex;
          width: Min(21.417vw, 257px);
          height: Min(28.75vw, 345px);
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }

      &:nth-child(6) {
        grid-area: d;
      }
    }
  }

  .second-row {
    position: relative;
    z-index: 1;

    img {
      height: initial;
      width: 100%;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: clamp(5px, 2.5vw, 30px);
      grid-template-areas:
      "a b";
    }

    .grid-layout__row-coll {
      display: flex;
      position: relative;

      .grid-layout__bg {
        display: flex;
        width: 100%;
        img, picture {
          width: 100%;
          height: 100%;
        }
      }

      &:nth-child(1) {
        grid-area: a;
        position: relative;
      }

      &:nth-child(2) {
        grid-area: b;
      }
    }
  }

  .third-row {
    position: relative;
    z-index: 1;

    img,picture {
      height: initial;
      width: 100%;
      display: flex;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: clamp(5px, 2.5vw, 30px);
      grid-template-areas:
      "a b c d"
      "f fe e d";
    }

    .grid-layout__row-coll {
      display: flex;
      position: relative;

      .grid-layout__bg {
        display: flex;
        width: 100%;
        img, picture {
          width: 100%;
          height: 100%;
        }
      }

      &:nth-child(1) {
        grid-area: a;
        position: relative;

        .grid-layout__hero {
          position: absolute;
          display: flex;
          width: Min(16.25vw, 195px);
          height: Min(21.25vw, 255px);
          left: 50%;
          transform: translateX(-50%);
          top: -4%;

          @media screen and (max-width: 768px) {
            // width: Min(8.333vw, 64px);
            // height: Min(11.719vw, 90px);
          }
        }
      }

      &:nth-child(2) {
        grid-area: b;
      }

      &:nth-child(3) {
        grid-area: c;
      }

      &:nth-child(4) {
        grid-area: e;
        width: calc(155%);
        margin-left: -55%;

        .grid-layout__hero {
          position: absolute;
          display: flex;
          width: Min(28.5vw, 342px);
          height: Min(32.667vw, 392px);
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }

      &:nth-child(5) {
        grid-area: f;
        width: calc(155%);
        margin-right: -55%;
        position: relative;
        z-index: 1;

        .grid-layout__hero {
          position: absolute;
          display: flex;
          width: Min(37.083vw, 445px);
          height: Min(19.583vw, 235px);
          left: -10%;
          bottom: 16%;
        }
      }

      &:nth-child(6) {
        grid-area: d;
        position: relative;
        z-index: 1;

        .grid-layout__hero {
          position: absolute;
          display: flex;
          width: Min(20.083vw, 241px);
          height: Min(55.25vw, 663px);
          left: 50%;
          transform: translateX(-50%);
          bottom: -2%;
        }
      }
    }
  }
}
