.breadcrumbs {
  display: flex;
  grid-gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 1px solid #030915;

  &__item:not(:first-child) {
    padding-left: 10px;
    position: relative;


    &::before {
      content: '/';
      margin-right: 10px;
      font-family: $font-family4;
      font-style: normal;
      font-weight: 400;
      font-size: clamp(16px, 1.875vw,18px);
      line-height: 100%;
      color: $text--a;
    }

    max-width: 75%;
  }

  &__item {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &__item:last-child {
    pointer-events: none;
  }

  &__link {
    font-family: $font-family4;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.875vw,18px);
    line-height: 100%;
    color: $text--a;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}
