.character-first {
  background-image: url(../img/character_bg.png);
  background-position: top right;
  background-size: cover;
  padding-bottom: Min(8.333vw, 100px);

  &__box {
    z-index: initial;
  }

  &__image {
    width: Min(43.333vw, 520px);
    height: Min(52.083vw, 625px);
    bottom: Max(-1.667vw, -20px);
    z-index: 0;
  }

  &__article {
    position: relative;
    z-index: 5;
  }

  @media screen and (max-width: 992px) {
    .container, &__box {
      position: initial;
    }

    &__article {
      max-width: 65%;
    }

    &__image {
      transform: translate(20%, -20%);
    }
  }

  @media screen and (max-width: 767px) {
    &__article {
      max-width: 65%;
    }

    &__image {
      transform: translate(20%, -10%);
    }
  }

  @media screen and (max-width: 400px) {
    padding-bottom: 84vw;

    &__article {
      max-width: 100%;
    }

    &__image {
      top: initial;
      bottom: 0;
      right: initial;
      transform: translate(10%,10%);
      width: 80%;
      height: auto;
      margin: 0 auto;
    }
  }
}

.character-second {
  @media screen and (max-width: 767px) {
    &::before {
      width: 200vw;
      height: 60vw;
      top: -28vw;
    }
  }
}

