.contact-first {
  background-image: url(../img/contact_bg.jpg);
  padding-bottom: Min(26.667vw, 320px);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  z-index: 0;
  overflow: hidden;

  &__box {
    z-index: 0;
  }

  &__image {
    width: Min(68.083vw, 817px);
    height: Min(36.333vw, 436px);
    right: -17%;
    top: 50%;
    transform: translateY(-40%);
  }

  &:before {
    width: 100%;
    height: clamp(200px, 33.333vw ,400px);
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(4, 13, 33, 0) 0%, #040D21 100%);
    z-index: 1;
  }

  @media screen and (max-width: 767px) {
    &__article {
      max-width: 55%;
    }

    &__image {
      transform: translate(15% ,-40%);
    }
  }


  @media screen and (max-width: 500px) {
    &__article {
      max-width: 100%;
    }

    &__image {
      transform: translate(15% ,-40%);
      position: initial;
      transform: none;
      margin: 0 auto;
      width: 100%;
      height: auto;
    }

    &__box {
      display: flex;
      flex-direction: column;
      grid-gap: 40px;
    }
  }
}
