.gameDev-first {
  background-image: url(../img/game_bg.png);
  background-position: center;
  background-size: cover;
  position: relative;

  &__box {
    z-index: 10;
  }

  &__image {
    width: Min(40.667vw, 488px);
    height: Min(48.667vw, 581px);
    top: 75%;
    right: -5%;
    transform: translateY(-45%);
  }
}
