header {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 12;

  &.header-blog {
    position: initial;
    background-color: #030915;
    border: none;
  }
}




