header {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  transition: all .2s;

  &.header-blog {
    position: initial;
    background-color: #030915;
    border: none;
  }

  &.fixed {
    background-color: #040d21f6;
    transition: all .5s;
  }
}




