.index-services {
  background-color: $bg--d;
  padding: clamp(30px, 7.33vw, 88px) 0 clamp(20px, 3.333vw, 40px);

  &__box {
    padding: clamp(20px, 8.333vw,100px) clamp(20px,6.667vw, 80px);
    background: rgba(38, 56, 94, 0.4);
    border-radius: 10px;
    grid-gap: Min(2.5vw, 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__top {
    margin-bottom: clamp(20px, 5vw,60px);
  }

  &__image {
    margin-left: -15%;
    width: Min(28vw, 336px);
    animation: services-hero 10s infinite linear;
    position: absolute;

    @media screen and (max-width: 1360px) {
      margin-left: -10%;
    }

    @media screen and (max-width: 992px) {
        display: none;
    }
  }

  &__list {
    margin-left: auto;
    width: clamp(690px,62.917vw, 755px);
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 200px);
    grid-gap: Min(6.417vw,77px) Min(5.25vw, 63px);
    overflow: hidden;

    @media screen and (max-width: 992px) {
      width: 100%;
      grid-template-columns: repeat(3, 30%);
      grid-gap: Min(6.417vw,77px) 0;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(2, 45%);
    }

    @media screen and (max-width: 575px) {
      grid-template-columns: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: clamp(5px, 1.25vw, 15px);

    svg {
      min-height: 50px;
    }

    @media screen and (max-width: 1145px) {
      .index-services__title br {
        display: none;
      }
    }
  }

  &__title {
    font-family: $font-family4;
    text-transform: uppercase;
    max-width: 85%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    display: flex;
    color: $text--w;
    height: 100%;
  }

  &__text {
    position: relative;
    font-family: $font-family4;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.5vw,18px);
    line-height: 135%;
    color: $text--w;
    flex-grow: 1;

    &::before {
      content: '';
      width: 1px;
      position: absolute;
      right: calc(Max(-5.25vw, -63px) / 2);
      transform: translateX(-50%);
      bottom: -30px;
      top: 0;
      background-color: rgba(255, 255, 255, 0.2);

      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  }
}
