.main-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  grid-gap: clamp(15px, 1.823vw,35px);

  &__title {
    font-family: $font-family2;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(30px,3.5vw,42px);
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $text--w;
  }

  &__text {
    font-family: $font-family4;
    font-size: clamp(16px,1.667vw,20px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: center;
    color: $text--w;
  }
}
