.portfolio-gallery {
  padding-top: clamp(120px, 16.667vw, 200px);
  padding-bottom: clamp(30px,5vw,60px);
  background-color: $bg--d;

  &--single {
    padding-top: clamp(40px, 6.667vw, 80px);
    padding-bottom: clamp(80px,16.667vw,200px);
  }

  .container {
    max-width: 1620px;
  }

  &__top {
    margin-bottom: clamp(30px,5vw,60px);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, fit-content(Min(18.889vw, 306px)));
    grid-gap: 20px;
    overflow: hidden;
    transition: max-height .7s;
    max-height: calc(Min(18.889vw, 306px) * 3);
    margin-bottom: clamp(30px, 3.75vw, 45px);

    img, picture {
      display: flex;
    }

    @media screen and (max-width: 900px) {
      grid-gap: 15px;
    }

    @media screen and (max-width: 575px) {
      grid-template-columns: repeat(3, fit-content(Min(30.957vw, 178px)));
      max-height: calc(Min(30.957vw, 178px) * 3 - 3px);
      grid-gap: 10px;
    }
  }

  &__item {
    overflow: hidden;
    cursor: pointer;
    transition: all .4s;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0px 20px -4px #2154c2;
    }
  }
}

.veiw-more {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(145px, 14.917vw, 179px);
  height: clamp(35px, 3.667vw, 44px);
  background: #7A82FF;
  border-radius: 5px;
  font-family: $font-family4;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(16px,1.5vw,18px);
  line-height: 100%;
  color: $text--w;
  transition: all .4s;
  box-shadow: 0 0px 20px -4px rgba(33, 84, 194, 0);

  &:hover {
    background-color: #2154c2;
    box-shadow: 0 0px 30px -4px rgba(33, 84, 194, 1);
  }
}

