.portfolio-second {
  background-color: $bg--d;
  padding-bottom: clamp(40px, 6.667vw, 80px);
  position: relative;
  z-index: 1;

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(25px, 4.167vw, 50px);
  }

  &__task {
    background: $bg--b;
    border-radius: 10px;
    padding: clamp(20px, 6.25vw, 75px) 15px clamp(30px, 7.083vw,85px);
  }

  &__inner {
    max-width: 900px;
    margin: 0 auto;
  }

  &__title {
    font-family: $font-family2;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    color: $text--w;
  }
}
