.portfolio-second {
  background-color: $bg--d;
  padding-bottom: clamp(40px, 6.667vw, 80px);
  position: relative;
  z-index: 1;

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(25px, 4.167vw, 50px);
  }

  &__task {
    background: $bg--b;
    border-radius: 10px;
    padding: clamp(20px, 6.25vw, 75px) 15px clamp(30px, 7.083vw,85px);
  }

  &__inner {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__title {
    font-family: $font-family2;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(22px, 3vw,36px);
    line-height: 100%;
    text-transform: uppercase;
    color: $text--w;
    margin-bottom: clamp(20px, 3.333vw,40px);
  }

  &__text {
    font-family: $font-family4;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $text--w;

    & + & {
      margin-top: clamp(15px, 2.917vw, 35px);
    }
  }

  &__images {
    display: flex;
    grid-gap: clamp(15px, 2.5vw,30px);
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    display: flex;
  }
}

.portfolio-result {
  background: $bg--f;
  border-radius: 10px;
  padding: clamp(20px, 6.25vw, 75px) 15px clamp(30px, 7.083vw,85px);

  &__title {
    font-family: $font-family2;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(22px, 3vw,36px);
    line-height: 100%;
    text-transform: uppercase;
    color: $text--w;
    margin-bottom: clamp(20px, 3.333vw,40px);
  }

  &__text {
    font-family: $font-family4;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.417vw,17px);
    line-height: 176%;
    color: $text--w;
  }
}



.portfolio-solution {
  background: #F4F4F4;
  border: 1px solid #636569;
  box-sizing: border-box;
  border-radius: 10px;
  padding: clamp(20px, 6.25vw, 65px) 15px clamp(30px,2.917vw,35px);

  &__title {
    font-family: $font-family2;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(22px, 3vw,36px);
    line-height: 100%;
    text-transform: uppercase;
    color: $text--e;
    margin-bottom: clamp(20px, 3.333vw,40px);
  }

  &__text {
    font-family: $font-family4;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.417vw,17px);
    line-height: 176%;
    color: $text--a;
  }

  &__more {
    margin-left: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    grid-gap: 15px;
    font-family: $font-family4;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: $text--a;
    user-select: none;
    cursor: pointer;

    .arrow-icon {
      transition: all .4s;
    }

    &.active {
      .arrow-icon {
        transform: scaleY(-1);
      }
    }
  }

  &__bottom {
    margin-top: clamp(20px, 4.167vw,50px);
    padding-top: clamp(20px, 2.333vw, 28px);
    border-top: 1px solid rgba(99, 101, 105, 0.5);
  }

  &__hide .portfolio-solution__text {
    padding-top: 15px;
  }
}
