.technical {
  padding-top: clamp(30px, 7.5vw, 90px);
  padding-bottom: clamp(20px, 6.667vw, 80px);
  background-color: $bg--w;
  box-shadow: 0px 1px 48px 39px rgba(4,13,33,0.78);
  position: relative;
  z-index: 2;

  &__top {
    margin-bottom: clamp(25px, 5.833vw, 70px);
  }

  &__wrapper {
    align-items: center;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  &__image {
    margin-bottom: 10px;

    img,picture {
      max-height:56px;
      object-fit: contain;
    }
  }

  &__slider {
    max-width: calc(clamp( 120px,12.667vw,152px) * 7);
    margin: 0 auto;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp( 120px,12.667vw,152px);
  }

  &__name {
    font-family: $font-family4;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.333vw, 16px);
    line-height: 100%;
    text-align: center;
    color: #636569;
  }

  @media screen and (min-width: 1024px) {
    &__slide {
      flex-shrink: 0;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      grid-gap: Min(3.333vw, 40px) 0;
    }
  }

  @media screen and (max-width: 1024px) {
    &__slide {
      transition: all 4s;
    }
  }
}
