.vr-first {
  background-image: url(../img/vr_bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: scroll;

  &__box {
    z-index: 10;
  }

  &__image {
    width: Min(30.667vw, 368px);
    height: Min(43.833vw, 526px);
    top: 75%;
    transform: translateY(-45%);
  }

  @media screen and (max-width: 992px) {
    background-repeat: no-repeat;

    &__article {
      max-width: 58%;
      z-index: 2;

      br {
        display: none;
      }
    }

    &__image {
      width: 30%;
      height: auto;
      bottom: -29vw;
      animation: none;
      top: initial;
      z-index: 0;
    }
  }

  // @media screen and (max-width: 767px) {
  //   background-size: cover;

  //   &__box {
  //     position: relative;
  //     z-index: 10;
  //   }

  //   &__article {
  //     max-width: 65%;
  //   }

  //   &__image {
  //     transform: translate(20%,25%);
  //     z-index: 2;
  //   }
  // }

  @media screen and (max-width: 575px) {
    padding-bottom: 18vw;
    position: relative;


    .container {
      position: initial;
    }

    &__box {
      position: initial;
      z-index: 10;
      display: flex;
      flex-direction: column;
      grid-gap: 20px;
    }

    &__article {
      max-width: 100%;
    }

    &__image {
      position: relative;
      z-index: 2;
      top: initial;
      bottom: 0;
      right: initial;
      transform: none;
      width: 70%;
      height: auto;
      margin: 0 auto -28vw;
    }
  }
}
