@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Futura PT";

  font-display: swap;
  src: url("../fonts/FuturaBook.woff2") format("woff2"), url("../fonts/FuturaBook.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Futura PT";

  font-display: swap;
  src: url("../fonts/futuramediumc.woff2") format("woff2"), url("../fonts/futuramediumc.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Futura PT";

  font-display: swap;
  src: url("../fonts/FuturaPT.woff2") format("woff2"), url("../fonts/FuturaPT.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato-medium.woff2") format("woff2"), url("../fonts/lato-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/Lato-ExtraBold.woff2") format("woff2"), url("../fonts/Lato-ExtraBold.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/PT-Regular.woff2") format("woff2"), url("../fonts/PT-Regular.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/PT-Italic.woff2") format("woff2"), url("../fonts/PT-Italic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/PT-Bold.woff2") format("woff2"), url("../fonts/PT-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}







