body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #fff;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  min-height: -webkit-fill-available;


}

@media screen and (max-width: 1024px) {
  html {
    overflow-x: hidden;
    width: 100%;
  }
}

html {
  box-sizing: border-box;
  width: 100%;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-block;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: initial;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

picture {
  display: inline-flex;
}

input {
  width: 100%;
  outline: none;
  border: none;
}

label {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.panel {
  z-index: 20;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}


[data-tab-content] {
  display: none;

  &.active {
    display: block;
  }
}


* {

  /* FireFox */
  scrollbar-color: #EDF3F6;

  &::-webkit-scrollbar {
    width: 9px;
    box-shadow: none;
    height: 100%;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3C93F0;
    border-radius: 4px;
    background-clip: padding-box;
    border: 2px solid #EDF3F6;
    box-shadow: none;

    &:hover {
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar-track {
    background-color:#EDF3F6;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: none;
    height: 100%;
  }

  ::-webkit-scrollbar-button {
    background-color: transparent;
    box-shadow: none;
    display: none;
  }
}


.mini-image {
  width: Min(23.083vw,277px);
  height: Min(22.417vw, 270px);

  .grid-layout__bg img {
    width: 100%;
    height: 100%;
  }
}

.vertical-image {
  width: Min(23.083vw,277px);
  height: Min(47.083vw, 565px);

  .grid-layout__bg img {
    width: 100%;
    height: 100%;
  }
}

.horizontal-image {
  width: Min(48.25vw, 580px);
  height: Min(22.417vw, 270px);

  .grid-layout__bg img {
    width: 100%;
    height: 100%;
  }
}



