/* -- Fonts --*/
$font-family: "Roboto", sans-serif;
$font-family2: "Futura PT", sans-serif;
$font-family3: "Lato", sans-serif;
$font-family4: "PT Sans", sans-serif;

/* -- text --*/
$text--a: #040D21;
$text--w: #ffffff;
$text--e: #4AC882; // green or main-top span
$text--b: #000;
/* -- bg --*/
$bg--w: #ffffff;
$bg--a: #3BA34C; // button bg
$bg--c: #020816; // logo section bg
$bg--d: #040D21; // section bg
$bg--f: #4AC882; // more link hover
$bg--b: #121E39; // alt bg


