/* -- Fonts --*/
$font-family: "Roboto", sans-serif;
$font-family2: "Futura PT", sans-serif;
$font-family3: "Lato", sans-serif;
$font-family4: "PT Sans", sans-serif;

/* -- text --*/

$text--a: #040D21;
// $text--a--mode: #367BF5;
// $text--b: #5A5B6A;
// $text--c: #37833B;
// $text--d: #9696A0;
// $text--e: #000000;
// $text--f: #455ABF;

$text--w: #ffffff;
$text--e: #4AC882; // green or main-top span
// $card-name: #19191D;
// $tab-nav: #9696a0;
// $text--name: #5A5B6A;


// $input-placeholder: #E3E5E5;
// $form-description: #E3E5E6;

// $reit--value: #3A3A44;


/* -- bg --*/


$bg--w: #ffffff;
$bg--a: #3BA34C; // button bg
$bg--c: #020816; // logo section bg
$bg--d: #040D21; // section bg
$bg--f: #4AC882; // more link hover



// $bg--g: #9696a0;
// $footer-bg: #EDEDF0;



// $vidget--b: #C8372D;
// $vidget--c: #2264D1;
// $vidget--d: #37833B;

// $bg--a: #F7f7fa;


// $bg--b: #EBF2FF;

